# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace/
!default.xcworkspace/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# Archivos grandes
*.rar
*.zip
V1.rar

# Misc
*.log
*.swp
.DS_Store
.vscode/
